#!/usr/bin/make -f

%:
	dh $@ --buildsystem=cmake

override_dh_shlibdeps:
	dh_shlibdeps -Nlibpdfium-dev

override_dh_missing:
	dh_missing --fail-missing

override_dh_auto_configure:
	dh_auto_configure -- \
		-DBUILD_SHARED_LIBS=ON \
		-DCMAKE_INSTALL_PREFIX=/usr

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp
